In [13]:
import os
# returns the next word in the file
def words_generator(fileobj):
    for line in fileobj:
        for word in line.split():
            yield word

total_document_count = 0.0
average_length_document = 0.0
total_lengths_document = 0.0

word_count_dict = {}
for dirpath, dnames, fnames in os.walk("../inputdata/full_texts_all_cases/"):
    for file in fnames:
        total_document_count+=1
        f = open("../inputdata/full_texts_all_cases/"+file,"r",encoding="utf-8")
        words = words_generator(f)
        words = list(words)
        total_lengths_document+=len(words)
        for word in words:
            if word.lower() not in word_count_dict:
                word_count_dict[word.lower()] = {"total":0}
            else:
                word_count_dict[word.lower()]["total"] += 1

print(len(word_count_dict))
average_length_document =  float(total_lengths_document) / float(total_document_count)
print(average_length_document)

548704
3998.2079114839457

In [14]:
import pandas as pd        
word_count_df = pd.DataFrame.from_dict(word_count_dict)

In [15]:
word_count_df.head(20)

,avis,juridique,important,|,61954jjudgment,of,the,court,december,1954.,...,“seven”.,"“l”,",devinlec,(quantum),"(t‑147/03,",eu:t:2006:10),"eu:c:2008:626,","(quantum),","t‑147/03,","eu:t:2006:10,"
total,6796,7874,9956,6426,6,3141553,5129693,286069,33032,31,...,0,0,1,0,0,0,0,0,0,0

In [16]:
wdf = word_count_df.sort_values(by='total', axis=1, ascending=False, inplace=False)
wdf.head(20)

,the,of,to,in,that,and,a,by,for,is,...,develops.5.,(‘fht’),englisch,(‘exemptions’).,rules.pending,(‘autologous’,(‘allogeneic’,‘heterologous’,frontiers.the,"eu:t:2006:10,"
total,5129693,3141553,1647654,1452003,992884,989885,838092,597892,579073,505017,...,0,0,0,0,0,0,0,0,0,0

In [21]:
wdf_transposed = wdf.T
wdf_transposed['total'] = wdf_transposed['total']/3998.0
wdf_transposed.head(500)

                     total
the            1283.064782
of              785.781141
to              412.119560
in              363.182341
that            248.345173
and             247.595048
a               209.627814
by              149.547774
for             144.840670
is              126.317409
on              124.498249
as              112.473487
be              111.743872
article         106.541021
it               98.532266
which            96.462231
not              78.566783
or               73.699100
court            71.553027
with             60.739620
an               57.906703
from             55.360180
de               54.289645
no               53.929215
member           51.770635
.                51.039770
,                45.095048
are              45.091796
at               44.888444
its              44.353427
...                    ...
consideration     3.334917
three             3.324412
benefit           3.301151
pending           3.270385
duties            3.259380
qui               3.246123
incurred          3.243872
establishment     3.242871
°                 3.238369
plea              3.230865
individual        3.228864
luxembourg        3.225113
capital           3.219610
health            3.215608
benefits          3.213857
others            3.213607
condition         3.211856
page              3.208604
directive.        3.203602
i                 3.198849
question,         3.179090
judgment,         3.173087
activity          3.168334
her               3.166083
equal             3.153827
transport         3.151826
although          3.151576
event             3.151076
pension           3.150075
un                3.149825

[500 rows x 1 columns]

In [18]:
wdf_transposed.to_csv("../outputdata/wordcounts.csv")